<nav class="bg-white dark:bg-gray-800 shadow-sm rounded-lg mb-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex space-x-8">
      <a href="/settings" class="<%= path === '/settings' ? 'border-neon-blue text-neon-blue' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300' %> whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm flex items-center">
        <svg class="h-5 w-5 mr-2 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
        </svg>
        Profile
      </a>
      <a href="/settings/subscription" class="<%= path === '/settings/subscription' ? 'border-neon-blue text-neon-blue' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300' %> whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm flex items-center">
        <svg class="h-5 w-5 mr-2 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
          <path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd" />
        </svg>
        Subscription
      </a>
      <a href="/settings/notifications" class="<%= path === '/settings/notifications' ? 'border-neon-blue text-neon-blue' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300' %> whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm flex items-center">
        <svg class="h-5 w-5 mr-2 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
        </svg>
        Notifications
      </a>
      <a href="/settings/security" class="<%= path === '/settings/security' ? 'border-neon-blue text-neon-blue' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 dark:text-gray-400 dark:hover:text-gray-300' %> whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm flex items-center">
        <svg class="h-5 w-5 mr-2 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
        </svg>
        Security
      </a>
    </div>
  </div>
</nav>